@page
@model ProyectoCiclo3.App.Frontend.Pages.ListRutasModel
@{ //Es para la interfaz 
}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">origen</th>
      <th scope="col">destino</th>
      <th scope="col">tiempo_estimado</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var rutas in Model.Rutas)
    {
      //<tr> crea una nueva fila 
        <tr>
            <td>@rutas.id</td>
            <td>@rutas.origen</td>
            <td>@rutas.destino</td>
            <td>@rutas.tiempo_estimado</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-rutasId="@rutas.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-rutasId="@rutas.id">Editar</a>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal_@rutas.id">
                Eliminar
              </button>
              <div class="modal fade" id="exampleModal_@rutas.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminacion de registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Esta seguro que desea eliminar la rutas @rutas.nombre
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <form method="POST">
                      <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@rutas.id">
                      <button type="submit"class="btn btn-danger" href="">Eliminar</button>
                    </form>
                    </div>
                </div>
              </div>
            </div>
        </tr>
    }

  </tbody>
</table>