@page
@model ProyectoCiclo3.App.Frontend.Pages.ListBusModel
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">marca</th>
      <th scope="col">modelo</th>
      <th scope="col">kilometraje</th>
      <th scope="col">numero_asientos</th>
      <th scope="col">placa</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var buses in Model.Buses)
    {
        <tr>
            <td>@buses.id</td>
            <td>@buses.marca</td>
            <td>@buses.modelo</td>
            <td>@buses.kilometraje</td>
            <td>@buses.numero_asientos</td>
            <td>@buses.placa</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-busId="@buses.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-busId="@buses.id">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }

  </tbody>
</table>