@page
@model ProyectoCiclo3.App.Frontend.Pages.ListBusModel
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">marca</th>
      <th scope="col">modelo</th>
      <th scope="col">kilometraje</th>
      <th scope="col">numero_asientos</th>
      <th scope="col">placa</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var buses in Model.Buses)
    {
        <tr>
            <td>@buses.id</td>
            <td>@buses.marca</td>
            <td>@buses.modelo</td>
            <td>@buses.kilometraje</td>
            <td>@buses.numero_asientos</td>
            <td>@buses.placa</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-busId="@buses.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-busId="@buses.id">Editar</a>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal_@buses.id">
                Eliminar
              </button>
              <div class="modal fade" id="exampleModal_@buses.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminacion de registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Esta seguro que desea eliminar la buses @buses.nombre
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <form method="POST">
                      <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@buses.id">
                      <button type="submit"class="btn btn-danger" href="">Eliminar</button>
                    </form>
                    </div>
                </div>
              </div>
            </div>
        </tr>
    }

  </tbody>
</table>