@page
@model ProyectoCiclo3.App.Frontend.Pages.ListEstacionesModel
@{ //Es para la interfaz 
}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">nombre</th>
      <th scope="col">direccion</th>
      <th scope="col">coordenada X</th>
      <th scope="col">coordenada Y</th>
      <th scope="col">tipo</th>
      <th scope="col">acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var estaciones in Model.Estaciones)
    {
      //<tr> crea una nueva fila 
        <tr>
            <td>@estaciones.id</td>
            <td>@estaciones.nombre</td>
            <td>@estaciones.direccion</td>
            <td>@estaciones.coord_x</td>
            <td>@estaciones.coord_y</td>
            <td>@estaciones.tipo</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-estacionId="@estaciones.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-estacionId="@estaciones.id">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }

  </tbody>
</table>